@charset 'utf8';

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link,a:hover{
    text-decoration: none
}
img{
    max-width: 100%
}
button{
    outline: none !important
}
.header{
    overflow: hidden;
    position: relative;
}
.header .top{
    width: 100%;
    background: #eaeaea;
}
.header .top .menu{
    overflow: hidden;
}
.header .menu li{
    float: left;
    font-size: 16px;
    line-height: 40px;
    padding-right: 40px
}
.header .menu li a{
    color: #616161;
    vertical-align: middle
}
.header .menu li img{
    width: 18px;
    margin: 0 6px 0 0;
    vertical-align: middle
}
.header .top .dropdown{
    float: right;
}
.header .dropdown .btn{
    padding: 0;
    color: #616161;
    font-size: 16px;
    background: none;
    line-height: 40px
}
.header .dropdown img{
    width: 22px;
    margin: 0 3px 0 0;
    vertical-align: middle
}
.header .dropdown .text{
    vertical-align: middle
}
.header .dropdown-menu{
    min-width: 115px;
}
.header .logo-box{
    width: 100%;
}
.header .logo-box .logo{
    margin: 22px 0 26px 0
}
.header .logo-box .icons{
    margin: 44px 0 0 0;
}
.header .logo-box .icons ul{
    display: flex;
    float: right;
}
.header .logo-box .icons li{
    margin: 0 0 0 10px
}
.navbar{
    margin: 0;
    border-radius: 0
    background: #262626
}
.navbar .navbar-brand{
    padding: 5px 15px
}
.navbar .navbar-brand img{
    width: 55%
}
.navbar .navbar-nav>li>a{
    padding: 0 15px;
    color: #fff;
    line-height: 50px
}
.navbar .search{
    float: right;
    outline: none;
    border: none;
    height: 50px;
    padding: 0 50px;
    background: #e64a19
}

/* 首页 */
.about{
    margin: 95px 0 100px
}
.about .tabs{
    margin: 0 0 20px;
    padding: 0 0 0 20px;
    background: #f4f4f4;
    border-left: 10px solid #308438
}
.about .tabs ul{
    display: flex
}
.about .tabs li{
    cursor: pointer;
    font-size: 16px;
    padding: 30px 70px
}
.about .tabs li.active{
    color: #fff;
    background: #308438
}
.about .content>ul>li{
    display: none
}
.about .content>ul>li.active{
    display: block
}
.about .content .intro{
    margin: 0 0 10px
}
.about .content .intro .title{
    font-size: 24px;
    color: #308438;
    font-weight: bold
}
.about .content .intro .desc{
    color: #333;
    font-size: 13px;
    line-break: 1.4em
}
.about .content .data{
    overflow: hidden;
    color: #308438;
    padding: 20px 34px;
    background: #f4f4f4;
    border-radius: 4px;
}
.about .data li{
    text-align: center;
    border-right: 1px solid #308438
}
.about .data li:last-child{
    border: none
}
.about .data .title{
    font-size: 25px;
    font-weight: bold
}
.about .data .title span{
    font-size: 14px
}
.about .data .desc{
    font-size: 12px
}














@media (max-width: 992px) {
    .navbar .navbar-nav>li>a{
        padding: 0 5px
    }
    .about .tabs li{
        padding: 20px 50px
    }
    .about-pic{
        text-align: center;
        margin: 0 0 20px;
    }
}
@media (min-width: 1199px) {
    .navbar .navbar-nav>li>a{
        padding: 0 25px
    }
}
@media (max-width: 767px) {
    .header .logo-box .icons{
        margin: 20px 0;
        overflow: hidden;
    }
    .header .logo-box .icons img{
        width: 80%
    }
    .about{
        margin: 25px 0 40px
    }
    .about .tabs{
        padding: 0 0 0 10px;
        border-left-width: 5px
    }
    .about .tabs li{
        font-size: 13px;
        padding: 10px 20px
    }
    .about .content .data{
        padding: 15px
    }
    .about .data li{
        margin: 0 0 10px
    }
    .about .data li:nth-of-type(2){
        border: none
    }
}
@media (max-width: 360px) {
    .about .tabs li{
        padding: 10px;
        font-size: 12px
    }
}




