@charset 'utf8';

html,body{
    overflow-x: hidden;
    word-break: break-all
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link,a:hover{
    text-decoration: none
}
a:hover{
    color: #308438 !important
}
img{
    max-width: 100%
}
button, input[type='submit']{
    border: none;
    outline: none !important
}
.wrap>.main{
    padding: 0 0 65px
}
.header, .wrap>.main, .footer{
    position: relative;
}
.header:after, .wrap>.main:after, .footer:after{
    clear: both;
    content: '';
    display: block;
}

/* header */
.header .top{
    width: 100%;
    background: #eaeaea;
}
.header .top .menu{
    overflow: hidden;
}
.header .menu li{
    float: left;
    font-size: 16px;
    line-height: 40px;
    padding-right: 40px
}
.header .menu li:last-child{
    padding: 0
}
.header .menu li a{
    color: #616161;
    vertical-align: middle
}
.header .menu li img{
    width: 18px;
    margin: 0 6px 0 0;
    vertical-align: middle
}
.header .top .dropdown{
    text-align: right
}
.header .dropdown .btn{
    padding: 0;
    color: #616161;
    font-size: 16px;
    background: none;
    line-height: 40px
}
.header .dropdown img{
    width: 22px;
    margin: 0 3px 0 0;
    vertical-align: middle
}
.header .dropdown .text{
    vertical-align: middle
}
.header .dropdown-menu{
    min-width: 115px;
}
.header .logo-box{
    width: 100%;
}
.header .logo-box .logo{
    margin: 22px 0 26px 0
}
.header .logo-box .icons{
    margin: 44px 0 0 0;
}
.header .logo-box .icons ul{
    display: flex;
    float: right;
}
.header .logo-box .icons li{
    margin: 0 0 0 10px
}
.navbar{
    margin: 0;
    border-radius: 0;
    background: #262626
}
.navbar .navbar-brand{
    padding: 5px 15px
}
.navbar .navbar-brand img{
    width: 55%
}
.navbar .navbar-nav>li>a{
    padding: 0 15px;
    color: #fff;
    line-height: 50px
}
.navbar .navbar-nav>li>a:hover{
    color: #fff !important
}
.navbar .search{
    float: right;
    height: 50px;
    padding: 0 50px;
    background: #e64a19
}

/* index */
.about{
    margin: 95px auto 100px
}
.about .tabs{
    margin: 0 0 20px;
    padding: 0 0 0 20px;
    background: #f4f4f4;
    border-left: 10px solid #308438
}
.about .tabs ul{
    display: flex
}
.about .tabs li{
    cursor: pointer;
    font-size: 16px;
    padding: 30px 70px
}
.about .tabs li.active{
    color: #fff;
    background: #308438
}
.about .content>ul>li{
    display: none
}
.about .content>ul>li.active{
    display: block
}
.about .content .intro{
    margin: 0 0 10px
}
.about .content .intro .title{
    font-size: 24px;
    color: #308438;
    font-weight: bold
}
.about .content .intro .desc{
    color: #333;
    font-size: 13px;
    line-height: 1.4em
}
.about .content .data{
    overflow: hidden;
    color: #308438;
    padding: 20px 34px;
    background: #f4f4f4;
    border-radius: 4px;
}
.about img{
    width: 100%
}
.about .data li{
    text-align: center;
    border-right: 1px solid #308438
}
.about .data li:last-child{
    border: none
}
.about .data .title{
    font-size: 25px;
    font-weight: bold
}
.about .data .title span{
    font-size: 14px
}
.about .data .desc{
    font-size: 12px
}
.product{
    margin: 0 0 195px
}
.product .container{
    position: relative;
}
.product .arrow{
    top: 50%;
    z-index: 99;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.product .prev{
    left: -50px
}
.product .next{
    right: -50px
}
.product .arrow img{
    width: 26px;
}
.product .menu .title{
    height: 105px;
    color: #fff;
    font-size: 22px;
    line-height: 105px;
    text-align: center;
    background: #308438
}
.product .menu ul{
    padding: 0 25px;
    border: 1px solid #ccc
}
.product .menu li{
    width: 100%;
    height: 84px;
    line-height: 85px;
    border-bottom: 1px solid #ccc
}
.product .menu li a{
    font-size: 18px;
    color: #333;
}
.product .owl .content{
    padding: 20px;
    font-size: 16px;
    overflow: hidden;
    background: #fff;
    border-top: 2px solid #308438
}
.product .owl .content .title{
    color: #000;
    margin: 0 0 12px;
}
.product .owl .content .desc{
    color: #308438;
    margin: 0 0 12px;
}
.product .owl .content .more{
    color: #666;
    font-size: 16px;
    float: right;
}
.product .owl li{
    margin: 0 7px;
    cursor: pointer;
    -webkit-transition: .3s transform;
    -moz-transition: .3s transform;
    -ms-transition: .3s transform;
    transition: .3s transform
}
.product .owl li:hover{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    -ms-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
}
.product .col-sm-8{
    padding: 0
}
.owl-carousel .owl-wrapper-outer{
    padding: 15px
}
.pictures {
    overflow: hidden;
}
.pictures li{
    padding: 0;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all
}
.pictures li:hover{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}
.pictures li:nth-of-type(2){
    padding: 0 10px
}
.news{
    margin: 0 0 120px;
    padding: 170px 0 140px;
    background: url('../news-bg.png') center center no-repeat;
    background-size: cover;
}
.page-title{
    padding: 0 0 12px;
    margin: 0 0 45px;
    font-size: 36px;
    color: #308438;
    font-weight: bold;
    position: relative;
    text-align: center
}
.page-title:after{
    left: 50%;
    bottom: 0;
    content: '';
    width: 45px;
    height: 2px;
    display: block;
    background: #308438;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.news li .intro{
    padding: 25px 15px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all
}
.news li:hover .intro{
    background: #fff;
    -webkit-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    -ms-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
}
.news li .title{
    font-size: 16px;
    color: #308438;
    line-height: 22px;
    margin: 0 0 10px;
}
.news li .desc{
    color: #666;
    font-size: 14px;
    line-height: 18px;
}
.news li .pic{
    position: relative;
}
.news li .date{
    top: 0;
    right: 0;
    z-index: 9;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    background: #308438
}
.faq{
    margin: 0 0 60px
}
.faq li{
    margin: 0 0 20px
}
.faq li .Q{
    color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    line-height: 60px;
    font-size: 18px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all;
    background: #f5f5f5;
    border: 1px solid #333
}
.faq li .Q .content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.faq li .Q:hover{
    color: #fff;
    background: #333
}
.faq li .icon{
    color: #fff;
    min-width: 65px;
    height: 60px;
    margin: 0 20px 0 0;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    background: #308438;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.faq li .A{
    color: #333;
    display: flex;
    align-items: center;
    line-height: 22px;
    font-size: 16px;
    padding: 15px 0;
    background: #f5f5f5;
}
.faq .page-title{
    margin: 0 0 8px
}
.faq .more{
    display: block;
    margin: 0 15px 15px;
    text-align: right;
    font-size: 18px;
    color: #308438;
}

/* footer */
.footer{
    padding: 60px 0 0;
    background: #333;
}
.footer .top{
    padding: 0 0 50px;
    border-bottom: 1px solid #5d5d5d;
}
.footer .top img{
    width: 50px;
    margin: 0 20px 0 0;
    vertical-align: middle;
}
.footer .top span{
    color: #fff;
    font-size: 40px;
    vertical-align: middle;
}
.footer .top input[type='text']{
    width: 72%;
    height: 32px;
    float: left;
}
.footer .top input[type='submit']{
    width: 24%;
    color: #fff;
    float: right;
    background: #308438;
}
.footer .bom {
    margin: 40px auto 60px;
}
.footer .bom .title{
    color: #999;
    font-size: 20px;
    margin: 0 0 20px;
}
.footer .bom p,.footer .bom a{
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 0 0 10px;
}
.footer .bom ul{
    overflow: hidden;
}
.footer .bom li{
    float: left;
    margin: 0 6px;
}
.footer .copyright{
    color: #999;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #2b2b2b;
}

/* common */
.slider{
    top: 50%;
    right: 0;
    width: 50px;
    z-index: 9999;
    position: fixed;
    padding: 40px 0 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #308438
}
.slider li{
    cursor: pointer;
    margin: 0 0 40px;
    text-align: center;
}
.message{
    right: 0;
    bottom: 100%;
    z-index: 999;
    width: 450px;
    position: absolute;
}
.message .header{
    width: 100%;
    height: 65px;
    text-indent: 40px;
    line-height: 65px;
    position: relative;
    background-color: #308438;
}
.message .header span{
    color: #fff;
    font-size: 22px;
}
.message .header .icon{
    top: 50%;
    width: 24px;
    right: 30px;
    height: 5px;
    cursor: pointer;
    margin-top: -2px;
    background: #fff;
    position: absolute;
    border-radius: 2px;
}
.message .main{
    display: none;
    overflow: hidden;
    background: #f7f7f7;
    padding: 25px 45px 66px;
}
.message .main p{
    color: #999;
    font-size: 18px;
    margin: 0 0 25px;
}
.message .main input[type='text']{
    width: 100%;
    height: 45px;
    color: #666;
    border: none;
    margin: 0 0 20px;
    font-size: 18px;
    text-indent: 24px;
    background: #fff;
}
.message .main input::-webkit-input-placeholder{
    color: #ccc;
}
.message .main input:-moz-input-placeholder{
    color: #ccc;
}
.message .main input:-ms-input-placeholder{
    color: #ccc;
}
.message .main input:-o-input-placeholder{
    color: #ccc;
}
.message .main input:input-placeholder{
    color: #ccc;
}
.message .main input[type='submit']{
    width: 180px;
    height: 45px;
    color: #fff;
    float: right;
    font-size: 18px;
    background: #308438;
}
.main>.ad{
    overflow: hidden;
    padding: 55px 0 0;
    background: #eaeaea;
}
.main>.ad .title{
    float: left;
    color: #262626;
    font-size: 20px;
    padding: 0 10px 20px;
    border-bottom: 2px solid #308438;
}
.main>.ad .address{
    float: right;
    font-size: 18px;
}
.main>.ad .address img{
    width: 18px;
    height: 16px;
    margin: 0 2px 0 0;
    vertical-align: middle;
}
.main>.ad .address a{
    color: #666;
    vertical-align: middle;
}
.main>.ad .address span{
    color: #666;
    margin: 0 0 0 5px;
    vertical-align: middle;
}
.main>.ad .address .active{
    color: #308438;
}
.other{
    padding: 70px 15px 200px
}
.left-menu .title{
    width: 100%;
    color: #fff;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #308438;
}
.left-menu li:not(:first-child){
    padding: 0 15px;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc
}
.left-menu li .box{
    width: 100%;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ccc
}
.left-menu li:last-child{
    border-bottom: 1px solid #ccc
}
.left-menu li:last-child .box{
    border: none
}
.left-menu li a{
    color: #333
}
.left-menu li img{
    float: right;
    margin: 6px 0 0
}
.left-menu li span{
    display: inline-block;
    width: calc(100% - 15px)
}
.left-menu .active:before{
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    content: '';
    position: absolute;
    background: #308438
}
.left-menu .active a{
    color: #308438
}

/* about */
.aboutus{
    margin: 35px auto 95px
}
.aboutus img{
    width: 100%
}
.aboutus .title{
    font-size: 24px;
    color: #308438;
    margin: 15px 0
}
.aboutus p{
    color: #333;
    font-size: 14px
}
.products{
    overflow: hidden;
    margin: 0 0 170px
}
.products img{
    width: 100%
}
.products .pics{
    overflow: hidden;
    margin: 0 0 60px
}
.products .col-sm-4, .products .col-xs-12{
    padding: 0
}
.products .col-sm-4:nth-of-type(2){
    padding: 0 5px
}

/* application */
.app-list{
    padding: 75px 0 160px
}
.app-list li img{
    width: 100%
}
.app-list li .title{
    color: #333;
    font-size: 20px;
    margin: 35px 0;
    text-align: center;
}
.app-list li:hover .title{
    color: #308438
}

/* contact */
.contact{
    margin: 0 0 50px
}
.contact .row{
    border: 2px solid #f5f5f5
}
.contact .row>.title{
    color: #000;
    font-size: 20px;
    margin: 0 0 30px
}
.contact .row>.title:after{
    content: '';
    width: 20px;
    height: 2px;
    display: block;
    margin: 10px 0 0;
    background: #000;
}
.contact .way .sm{
    margin: 0 0 15px;
    overflow: hidden
}
.contact .way .big{
    overflow: hidden;
    margin: 0 0 65px
}
.contact .way .col-sm-6{
    padding: 0 10px
}
.contact .way .box{
    font-size: 16px;
    color: #308438;
    padding: 20px 30px;
    position: relative;
    border: 1px solid #ccc
}
.contact .way .box a{
    color: #308438
}
.contact .way .box:after{
    top: 50%;
    left: 0;
    width: 7px;
    content: '';
    height: 40px;
    display: block;
    position: absolute;
    background: #308438;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.contact .way .title{
    margin: 0 0 10px;
}
.contact .way .title img{
    margin: 0 8px 0 0;
    vertical-align: middle
}
.contact .way .title span{
    vertical-align: middle
}
.contact .leave .title{
    text-align: center;
    margin: 0 0 25px;
}
.contact .leave .title span{
    font-size: 24px;
    border-bottom: 1px solid #000
}
.contact .leave .textarea{
    margin: 25px 0 35px
}
.contact .leave label{
    color: #666;
    display: block;
    font-size: 16px;
    margin: 0 0 6px;
}
.contact .leave input, .contact .leave textarea{
    width: 100%;
    height: 40px;
    border: none;
    background: #f2f2f2
}
.contact .leave textarea{
    height: 85px;
    outline: none;
    resize: vertical
}
.contact .leave input[type='submit']{
    width: 265px;
    height: 50px;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 8px;
    background: #e64a19
}

/* download */
.download ul{
    padding: 65px 50px 125px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
}
.download ul li{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 0 35px;
    padding: 0 0 10px;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border-bottom: 1px dashed #ccc
}
.download li .date{
    flex: 1.6;
    color: #333;
    padding: 0 0 0 3%
}
.download li .info{
    flex: 8;
    color: #000;
    font-size: 15px;
    padding: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc
}
.download li .icon{
    flex: 1;
    height: 22px;
    text-align: center;
    background: url('../icon-download.png') center center no-repeat;
    background-size: 20px 22px
}
.download li .icon:hover{
    background: url('../icon-downloads.png') center center no-repeat;
}
.download li .date p{
    font-size: 18px;
    margin: 0 0 8px
}
.download li .date span{
    font-size: 12px
}

/* service */
.service ul{
    padding: 35px 0 70px;
    -webkit-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    -ms-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
}
.service ul li{
    margin: 0 0 50px;
}
.service li .Q{
    height: 60px;
    overflow: hidden;
    font-size: 20px;
    line-height: 60px;
    padding: 0 0 0 75px;
    background: #d5d5d5;
}
.service li .A{
    overflow: hidden;
    font-size: 16px;
    background: #f5f5f5;
    padding: 20px 0 25px 75px;
}
.service li span{
    color: #333;
    float: left;
}
.service li span:last-child{
    width: calc(100% - 100px)
}
.service li .icon{
    width: 65px;
    height: 60px;
    color: #fff;
    line-height: 60px;
    font-size: 24px;
    margin: 0 20px 0 0;
    text-align: center;
    background: #308438;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* news */
.news-list li{
    display: flex;
    margin: 0 0 45px;
    padding: 0 0 50px;
    border-bottom: 1px dashed #ccc
}
.news-list li .picture{
    flex: 4;
    min-width: 250px
}
.news-list li .picture img{
    width: 100%
}
.news-list li .content{
    flex: 6;
    padding: 8px 25px;
    -webkit-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all;
    max-width: calc(100% - 250px);
}
.news-list .content .title{
    font-size: 20px;
    color: #308438
}
.news-list .content .date{
    color: #666;
    font-size: 14px;
    margin: 8px 0
}
.news-list .content .desc{
    color: #666;
    font-size: 16px;
    word-break: break-all
}
.news-list li:hover .content{
    background: #fff;
    -webkit-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    -ms-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px
}

/* product */
.pro-menu .title{
    width: 100%;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background: #308438
}
.pro-menu li .sub{
    width: 100%;
    text-align: center;
    color: #308438;
    background: #e2e2e2;
    border-bottom: 1px solid #308438
}
.pro-menu .active .sub{
    color: #fff;
    border: none;
    background: #262626
}
.pro-menu li span{
    margin: 0 5px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: inline-block;
    max-width: calc(100% - 60px);
}
.pro-menu li img{
    vertical-align: middle
}
.pro-menu li .icon2{
    display: none;
}
.pro-menu .tow li{
    position: relative;
}
.pro-menu .tow li a{
    color: #333;
    font-size: 16px;
}
.pro-menu .tow li:hover .icon2{
    display: inline-block
}
.pro-menu .tow li:hover .icon1{
    display: none
}
.pro-menu .tow li:hover{
    background: #f6f6f6
}
.pro-menu .tow li:hover>a{
    color: #308438
}
.pro-menu .tow li:hover .menu{
    display: block;
}
.pro-menu .tow .menu{
    top: 0;
    left: 100%;
    z-index: 999;
    width: 100%;
    display: none;
    overflow: auto;
    max-height: 420px;
    position: absolute;
    background: #f6f6f6
}
.pro-menu .tow .menu li{
    color: #666;
    font-size: 16px;
    text-indent: 45px;
    border-bottom: 1px dashed #ccc
}
.pro-list li{
    padding: 0 10px;
    margin: 0 0 70px
}
.pro-list li>a{
    display: block;
    -webkit-box-shadow: rgba(0,0,0,.1) 0px 0px 25px 3px;
    -ms-box-shadow: rgba(0,0,0,.1) 0px 0px 25px 3px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 25px 3px
}
.pro-list li .picture img{
    width: 100%
}
.pro-list li .content{
    padding: 20px;
    background: #fff;
    border-top: 1px solid #308438;
    -webkit-box-shadow: rgba(0,0,0,.1) 0px 0px 25px 3px;
    -ms-box-shadow: rgba(0,0,0,.1) 0px 0px 25px 3px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 25px 3px
}
.pro-list li .title{
    color: #333;
    font-size: 14px
}
.pro-list li .date{
    color: #308438;
    font-size: 16px;
    margin: 10px 0 20px
}
.pro-list li .more{
    color: #666;
    font-size: 16px;
    width: 100%;
    text-align: right;
    display: inline-block;
}
.pro-list li .more img{
    width: 60px
}
.pagination{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}
.togglepic{
    overflow: hidden;
}
.togglepic img{
    width: 100%
}
.togglepic .col-xs-3{
    padding: 0
}
.togglepic .col-xs-3 img{
    cursor: pointer;
    margin: 0 0 24px
}
.togglepic .col-xs-3 img:last-child{
    margin: 0
}
.togglepic .col-xs-3 .active{
    border: 1px solid #308438
}
.pro-detail>.title{
    font-size: 20px;
    color: #308438;
    margin: 65px 0 35px
}
.pro-detail .item{
    overflow: hidden;
    margin: 0 0 35px
}
.pro-detail .item .titles{
    overflow: hidden;
    margin: 0 0 20px
}
.pro-detail .item .titles .text{
    height: 50px;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    background: #f6f6f6;
    border-left: 3px solid #308438
}
.pro-detail .item .titles .col-xs-8{
    text-align: right
}
.pro-detail .item .content{
    padding: 0 15px
}
.pro-detail .item p{
    color: #666;
    font-size: 16px
}
.pro-detail .item table{
    margin: 30px 0 0
}
.pro-detail .item table td{
    color: #666;
    font-size: 14px;
    border: 1px solid #5d5a5a;
}
.pro-detail .item .content img{
    width: 100%;
    margin: 25px 0 50px
}
.pro-detail .item .use{
    border-radius: 6px;
    border: 1px solid #ccc
}
.pro-detail .item .use .title{
    color: #cc0000;
    font-size: 16px;
    margin: 0 0 15px
}
.pro-detail .item .use p{
    color: #999;
    font-size: 14px
}

@media (max-width: 992px) {
    .navbar .navbar-nav>li>a{
        padding: 0 5px
    }
    .about .tabs li{
        padding: 20px 50px
    }
    .about-pic{
        text-align: center;
        margin: 0 0 20px;
    }
    .product .arrow{
        display: none;
    }
    .about{
        margin: 35px auto 55px
    }
    .news{
        margin: 0 0 50px;
        padding: 60px 0 30px
    }
    .product{
        margin: 0 0 60px
    }
    .service li .Q{
        padding: 0 0 0 25px
    }
    .service li .A{
        padding: 10px 0 15px 25px
    }
    .news-list .content .title{
        font-size: 16px
    }
    .news-list .content .date{
        font-size: 12px
    }
    .news-list .content .desc{
        font-size: 14px
    }
}
@media (max-width: 1199px) {
    .product .prev{
        left: -5px
    }
    .product .next{
        right: -5px
    }
    .product .arrow img{
        width: 13px
    }
    .about .data .title{
        font-size: 18px
    }
    .about .content .intro .title{
        font-size: 20px
    }
    .about .content .intro .desc{
        font-size: 12px
    }
    .news li{
        margin: 0 0 15px
    }
}
@media (min-width: 1199px) {
    .navbar .navbar-nav>li>a{
        padding: 0 25px
    }
}
@media (min-width: 768px) {
    .about .col-2{
        width: 20%;
        float: left;
        padding: 0 15px;
    }
    .contact .way .box{
        margin: 0 0 15px
    }
    .contact .way .big .desc{
        height: 68px
    }
    .contact .row{
        padding: 35px 20px 65px;
    }
    .pro-menu .title{
        font-size: 18px;
        height: 80px;
        line-height: 80px
    }
    .pro-menu li .sub{
        height: 65px;
        font-size: 16px;
        line-height: 65px;
    }
    .pro-menu .tow li{
        padding: 15px
    }
    .pro-menu .tow li a{
        font-size: 14px
    }
    .left-menu .title{
        height: 80px;
        font-size: 18px;
        line-height: 80px
    }
    .left-menu li .box{
        padding: 15px 0
    }
    .left-menu li:not(:first-child){
        font-size: 16px
    }
    .pro-detail .item .use{
        padding: 15px 20px
    }
    .pro-detail .item table td{
        padding: 8px 12px
    }
}
@media (min-width: 992px) {
    .contact .way .big .desc{
        height: 45px
    }
    .contact .row{
        padding: 55px 40px 85px;
    }
    .pro-menu .title{
        font-size: 22px;
        height: 100px;
        line-height: 100px
    }
    .pro-menu li .sub{
        height: 75px;
        font-size: 18px;
        line-height: 75px;
    }
    .pro-menu .tow li{
        padding: 20px
    }
    .left-menu .title{
        height: 100px;
        font-size: 22px;
        line-height: 100px
    }
    .left-menu li .box{
        padding: 25px 0
    }
    .left-menu li:not(:first-child){
        font-size: 18px
    }
    .pro-detail .item .use{
        padding: 30px 40px
    }
    .pro-detail .item table td{
        padding: 10px 15px
    }
}
@media (max-width: 767px) {
    .header .logo-box .icons{
        margin: 10px 0;
        overflow: hidden;
    }
    .header .logo-box .icons img{
        width: 80%
    }
    .wrap>.main{
        padding: 0 0 50px
    }
    .about{
        margin: 25px 0 40px
    }
    .about .tabs{
        padding: 0 0 0 10px;
        border-left-width: 5px
    }
    .about .tabs li{
        font-size: 13px;
        padding: 10px 20px
    }
    .about .content .data{
        padding: 15px
    }
    .about .data li{
        margin: 0 0 10px
    }
    .about .data li:nth-of-type(2){
        border: none
    }
    .about .col-2{
        margin: 0 0 15px;
    }
    .main>.ad{
        padding: 20px 10px 0
    }
    .main>.ad .title{
        font-size: 13px;
        padding: 0 2px 10px;
    }
    .main>.ad .address{
        font-size: 13px
    }
    .main>.ad .address img{
        margin: 0;
        width: 16px;
        height: 14px;
    }
    .main>.ad .address span{
        margin: 0 0 0 2px
    }
    .slider{
        width: 40px;
        padding: 25px 0 0;
    }
    .slider li{
        margin: 0 0 25px
    }
    .message{
        width: 100%;
    }
    .message .header{
        height: 50px;
        line-height: 50px;
    }
    .message .header span{
        font-size: 18px
    }
    .message .main{
        padding: 15px 20px 30px
    }
    .message .main input[type='submit']{
        width: 155px;
        height: 40px;
        font-size: 16px;
    }
    .footer .top span{
        font-size: 22px
    }
    .footer .top img{
        width: 25px;
        margin: 0 5px 0 0
    }
    .footer .top .col-sm-6:first-child{
        margin: 0 0 20px;
    }
    .footer .bom{
        margin: 20px auto
    }
    .footer .bom .col-sm-4{
        margin: 0 0 20px;
    }
    .footer .bom .title{
        font-size: 16px;
        margin: 0 0 10px;
    }
    .footer .bom p, .footer .bom a{
        font-size: 12px;
    }
    .footer .bom img{
        width: 80%;
    }
    .footer .copyright{
        height: auto;
        padding: 10px 0;
        line-height: 20px;
        font-size: 12px;
    }
    .product{
        margin: 0 0 85px
    }
    .product .menu{
        margin: 0 0 20px
    }
    .product .menu .title{
        height: 60px;
        line-height: 60px;
        font-size: 20px
    }
    .product .menu li{
        height: 55px;
        line-height: 55px
    }
    .product .menu li a{
        font-size: 16px
    }
    .product .owl li{
        margin: 0
    }
    .owl-carousel .owl-wrapper-outer{
        padding: 0
    }
    .pictures li{
        margin: 0 0 15px
    }
    .pictures li:nth-of-type(2){
        padding: 0
    }
    .pictures li img{
        width: 100%
    }
    .news{
        margin: 0 0 30px;
        padding: 25px 0 50px
    }
    .news li .pic img{
        width: 100%
    }
    .news li .title{
        margin: 0 0 4px;
        font-size: 15px
    }
    .news li .desc, .news li .date{
        font-size: 12px
    }
    .page-title{
        font-size: 32px;
        padding: 0 0 8px;
    }
    .faq .more{
        font-size: 16px
    }
    .faq li .icon{
        font-size: 16px
    }
    .faq li .A{
        font-size: 13px
    }
    .header .menu li{
        line-height: 30px;
        font-size: 14px
    }
    .products{
        margin: 0 0 50px
    }
    .products .pics{
        margin: 0 0 20px
    }
    .products .pics .col-sm-4{
        padding: 0;
        margin: 0 auto 10px
    }
    .app-list{
        padding: 35px 0 50px
    }
    .app-list li .title{
        margin: 20px 0;
        font-size: 18px
    }
    .contact .row{
        padding: 35px 15px 50px
    }
    .contact .way .box{
        margin: 0 0 15px
    }
    .contact .way .col-sm-6{
        padding: 0
    }
    .contact .row>.title{
        font-size: 18px
    }
    .contact .leave li{
        padding: 0
    }
    .contact .leave .title span{
        font-size: 22px
    }
    .contact .leave input[type='submit']{
        width: 100%
    }
    .other{
        padding: 35px 15px 100px
    }
    .left-menu{
        padding: 0 15px 35px
    }
    .left-menu .title{
        height: 60px;
        line-height: 60px;
        font-size: 18px;
    }
    .left-menu li .box{
        padding: 15px 0;
        font-size: 16px
    }
    .download ul{
        padding: 25px 10px
    }
    .download li .date{
        flex: 2;
        padding: 0;
        text-align: center;
    }
    .download li .icon{
        flex: 1.5
    }
    .download li .date p{
        font-size: 16px;
        margin: 0 0 4px
    }
    .download li .info{
        padding: 12px;
        font-size: 14px
    }
    .download ul li{
        margin: 0 0 15px
    }
    .service ul li{
        margin: 0 0 20px
    }
    .service li .Q{
        padding: 0;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
    .service li .A{
        font-size: 14px;
        padding: 10px 0 15px 0
    }
    .service li .icon{
        width: 45px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }
    .news-list li{
        display: block;
        margin: 0 0 15px;
        padding: 0 0 20px
    }
    .news-list li .picture, .news-list li .content{
        width: 100%;
        max-width: 100%
    }
    .news-list li .content{
        padding: 10px
    }
    .pro-list li{
        padding: 0;
        margin: 0 0 20px
    }
    .pro-menu {
        margin: 0 0 25px
    }
    .pro-menu .title{
        height: 55px;
        font-size: 16px;
        line-height: 55px
    }
    .pro-menu li .sub{
        height: 45px;
        font-size: 16px;
        line-height: 45px;
    }
    .pro-menu .tow li{
        padding: 10px
    }
    .pro-menu .tow .menu{
        left: 0;
        max-width: 320px;
        position: relative
    }
    .pro-detail>.title{
        font-size: 18px
    }
    .pro-detail .item table td{
        font-size: 12px;
        padding: 5px 6px
    }
    .pro-detail .item .use{
        padding: 10px 15px
    }
    .pro-detail .item .content{
        padding: 0
    }
    .message .main input[type='text']{
        margin: 15px 0
    }
    .service ul{
        padding: 25px 0 10px
    }
    .about .content .intro .title{
        font-size: 18px
    }
}
@media (max-width: 360px) {
    .about .tabs li{
        padding: 10px;
        font-size: 12px
    }
}

.animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.animated.infinite{
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.animated.flip{
    -webkit-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip
}
.animated.hinge{
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%,0,0);
		-ms-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%,0,0);
		-ms-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}
.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-100%,0);
		transform: translate3d(0,-100%,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-100%,0);
		-ms-transform: translate3d(0,-100%,0);
		transform: translate3d(0,-100%,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,100%,0);
		-ms-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}
