@charset 'utf8';

html,body{
    overflow-x: hidden
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link,a:hover{
    text-decoration: none
}
a:hover{
    color: #308438 !important
}
img{
    max-width: 100%
}
button, input[type='submit']{
    border: none;
    outline: none !important
}
.wrap>.main{
    padding: 0 0 65px
}
.header, .wrap>.main, .footer{
    position: relative;
}
.header:after, .wrap>.main:after, .footer:after{
    clear: both;
    content: '';
    display: block;
}
.header .top{
    width: 100%;
    background: #eaeaea;
}
.header .top .menu{
    overflow: hidden;
}
.header .menu li{
    float: left;
    font-size: 16px;
    line-height: 40px;
    padding-right: 40px
}
.header .menu li a{
    color: #616161;
    vertical-align: middle
}
.header .menu li img{
    width: 18px;
    margin: 0 6px 0 0;
    vertical-align: middle
}
.header .top .dropdown{
    float: right;
}
.header .dropdown .btn{
    padding: 0;
    color: #616161;
    font-size: 16px;
    background: none;
    line-height: 40px
}
.header .dropdown img{
    width: 22px;
    margin: 0 3px 0 0;
    vertical-align: middle
}
.header .dropdown .text{
    vertical-align: middle
}
.header .dropdown-menu{
    min-width: 115px;
}
.header .logo-box{
    width: 100%;
}
.header .logo-box .logo{
    margin: 22px 0 26px 0
}
.header .logo-box .icons{
    margin: 44px 0 0 0;
}
.header .logo-box .icons ul{
    display: flex;
    float: right;
}
.header .logo-box .icons li{
    margin: 0 0 0 10px
}
.navbar{
    margin: 0;
    border-radius: 0;
    background: #262626
}
.navbar .navbar-brand{
    padding: 5px 15px
}
.navbar .navbar-brand img{
    width: 55%
}
.navbar .navbar-nav>li>a{
    padding: 0 15px;
    color: #fff;
    line-height: 50px
}
.navbar .search{
    float: right;
    height: 50px;
    padding: 0 50px;
    background: #e64a19
}

/* 首页 */
.about{
    margin: 95px auto 100px
}
.about .tabs{
    margin: 0 0 20px;
    padding: 0 0 0 20px;
    background: #f4f4f4;
    border-left: 10px solid #308438
}
.about .tabs ul{
    display: flex
}
.about .tabs li{
    cursor: pointer;
    font-size: 16px;
    padding: 30px 70px
}
.about .tabs li.active{
    color: #fff;
    background: #308438
}
.about .content>ul>li{
    display: none
}
.about .content>ul>li.active{
    display: block
}
.about .content .intro{
    margin: 0 0 10px
}
.about .content .intro .title{
    font-size: 24px;
    color: #308438;
    font-weight: bold
}
.about .content .intro .desc{
    color: #333;
    font-size: 13px;
    line-height: 1.4em
}
.about .content .data{
    overflow: hidden;
    color: #308438;
    padding: 20px 34px;
    background: #f4f4f4;
    border-radius: 4px;
}
.about .data li{
    text-align: center;
    border-right: 1px solid #308438
}
.about .data li:last-child{
    border: none
}
.about .data .title{
    font-size: 25px;
    font-weight: bold
}
.about .data .title span{
    font-size: 14px
}
.about .data .desc{
    font-size: 12px
}
.product{
    margin: 0 0 195px
}
.product .container{
    position: relative;
}
.product .arrow{
    top: 50%;
    z-index: 99;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.product .prev{
    left: -50px
}
.product .next{
    right: -50px
}
.product .arrow img{
    width: 26px;
}
.product .menu .title{
    height: 105px;
    color: #fff;
    font-size: 22px;
    line-height: 105px;
    text-align: center;
    background: #308438
}
.product .menu ul{
    padding: 0 25px;
    border: 1px solid #ccc
}
.product .menu li{
    width: 100%;
    height: 84px;
    line-height: 85px;
    border-bottom: 1px solid #ccc
}
.product .menu li a{
    font-size: 18px;
    color: #333;
}
.product .owl .content{
    padding: 20px;
    font-size: 16px;
    overflow: hidden;
    background: #fff;
    border-top: 2px solid #308438
}
.product .owl .content .title{
    color: #000;
    margin: 0 0 12px;
}
.product .owl .content .desc{
    color: #308438;
    margin: 0 0 12px;
}
.product .owl .content .more{
    float: right;
}
.product .owl li{
    margin: 0 7px;
    cursor: pointer;
    -webkit-transition: .3s transform;
    -moz-transition: .3s transform;
    -ms-transition: .3s transform;
    transition: .3s transform
}
.product .owl li:hover{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    -ms-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
}
.product .col-sm-8{
    padding: 0
}
.owl-carousel .owl-wrapper-outer{
    padding: 15px
}
.pictures {
    overflow: hidden;
}
.pictures li{
    padding: 0;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all
}
.pictures li:hover{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}
.pictures li:nth-of-type(2){
    padding: 0 10px
}
.news{
    margin: 0 0 120px;
    padding: 170px 0 140px;
    background: url('../news-bg.png') center center no-repeat;
    background-size: cover;
}
.page-title{
    padding: 0 0 12px;
    margin: 0 0 45px;
    font-size: 36px;
    color: #308438;
    font-weight: bold;
    position: relative;
    text-align: center
}
.page-title:after{
    left: 50%;
    bottom: 0;
    content: '';
    width: 45px;
    height: 2px;
    display: block;
    background: #308438;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.news li .intro{
    padding: 25px 15px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all
}
.news li:hover .intro{
    background: #fff;
    -webkit-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    -ms-box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
    box-shadow: rgba(0,0,0,.1) 0px 0px 15px 5px;
}
.news li .title{
    font-size: 16px;
    color: #308438;
    line-height: 22px;
    margin: 0 0 10px;
}
.news li .desc{
    color: #666;
    font-size: 14px;
    line-height: 18px;
}
.news li .pic{
    position: relative;
}
.news li .date{
    top: 0;
    right: 0;
    z-index: 9;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    background: #308438
}
.faq{
    margin: 0 0 20px
}
.faq li{
    margin: 0 0 20px
}
.faq li .Q{
    color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    line-height: 60px;
    font-size: 18px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all;
    background: #f5f5f5;
    border: 1px solid #333
}
.faq li .Q .content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.faq li .Q:hover{
    color: #fff;
    background: #333
}
.faq li .icon{
    color: #fff;
    min-width: 65px;
    height: 60px;
    margin: 0 20px 0 0;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    background: #308438;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.faq li .A{
    color: #333;
    display: flex;
    align-items: center;
    line-height: 22px;
    font-size: 16px;
    padding: 15px 0;
    background: #f5f5f5;
}
.faq .page-title{
    margin: 0 0 8px
}
.faq .more{
    display: block;
    margin: 0 15px 15px;
    text-align: right;
    font-size: 18px;
    color: #308438;
}

/* 底部 */
.footer{
    padding: 60px 0 0;
    background: #333;
}
.footer .top{
    padding: 0 0 50px;
    border-bottom: 1px solid #5d5d5d;
}
.footer .top img{
    width: 50px;
    margin: 0 20px 0 0;
    vertical-align: middle;
}
.footer .top span{
    color: #fff;
    font-size: 40px;
    vertical-align: middle;
}
.footer .top input[type='text']{
    width: 72%;
    height: 32px;
    float: left;
}
.footer .top input[type='submit']{
    width: 24%;
    color: #fff;
    float: right;
    background: #308438;
}
.footer .bom {
    margin: 40px auto 60px;
}
.footer .bom .title{
    color: #999;
    font-size: 20px;
    margin: 0 0 20px;
}
.footer .bom p,.footer .bom a{
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 0 0 10px;
}
.footer .bom ul{
    overflow: hidden;
}
.footer .bom li{
    float: left;
    margin: 0 6px;
}
.footer .copyright{
    color: #999;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #2b2b2b;
}

/* 公共 */
.slider{
    top: 50%;
    right: 0;
    width: 50px;
    z-index: 9999;
    position: fixed;
    padding: 40px 0 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #308438
}
.slider li{
    cursor: pointer;
    margin: 0 0 40px;
    text-align: center;
}
.message{
    right: 0;
    bottom: 100%;
    z-index: 999;
    width: 450px;
    position: absolute;
}
.message .header{
    width: 100%;
    height: 65px;
    text-indent: 40px;
    line-height: 65px;
    position: relative;
    background-color: #308438;
}
.message .header span{
    color: #fff;
    font-size: 22px;
}
.message .header .icon{
    top: 50%;
    width: 24px;
    right: 30px;
    height: 5px;
    cursor: pointer;
    margin-top: -2px;
    background: #fff;
    position: absolute;
    border-radius: 2px;
}
.message .main{
    display: none;
    overflow: hidden;
    background: #f7f7f7;
    padding: 25px 45px 66px;
}
.message .main p{
    color: #999;
    font-size: 18px;
    margin: 0 0 25px;
}
.message .main input[type='text']{
    width: 100%;
    height: 45px;
    color: #666;
    border: none;
    margin: 0 0 20px;
    font-size: 18px;
    text-indent: 24px;
    background: #fff;
}
.message .main input::-webkit-input-placeholder{
    color: #ccc;
}
.message .main input:-moz-input-placeholder{
    color: #ccc;
}
.message .main input:-ms-input-placeholder{
    color: #ccc;
}
.message .main input:-o-input-placeholder{
    color: #ccc;
}
.message .main input:input-placeholder{
    color: #ccc;
}
.message .main input[type='submit']{
    width: 180px;
    height: 45px;
    color: #fff;
    float: right;
    font-size: 18px;
    background: #308438;
}
.main>.ad{
    overflow: hidden;
    padding: 55px 0 0;
    background: #eaeaea;
}
.main>.ad .title{
    float: left;
    color: #262626;
    font-size: 20px;
    padding: 0 10px 20px;
    border-bottom: 2px solid #308438;
}
.main>.ad .address{
    float: right;
    font-size: 18px;
}
.main>.ad .address img{
    width: 18px;
    height: 16px;
    margin: 0 2px 0 0;
    vertical-align: middle;
}
.main>.ad .address a{
    color: #666;
    vertical-align: middle;
}
.main>.ad .address span{
    color: #666;
    margin: 0 0 0 5px;
    vertical-align: middle;
}
.main>.ad .address .active{
    color: #308438;
}



@media (max-width: 992px) {
    .navbar .navbar-nav>li>a{
        padding: 0 5px
    }
    .about .tabs li{
        padding: 20px 50px
    }
    .about-pic{
        text-align: center;
        margin: 0 0 20px;
    }
    .product .arrow{
        display: none;
    }
}
@media (max-width: 1199px) {
    .product .prev{
        left: -5px
    }
    .product .next{
        right: -5px
    }
    .product .arrow img{
        width: 13px
    }
    .about .data .title{
        font-size: 18px
    }
    .about .content .intro .title{
        font-size: 20px
    }
    .about .content .intro .desc{
        font-size: 12px
    }
    .news li{
        margin: 0 0 15px
    }
}
@media (min-width: 1199px) {
    .navbar .navbar-nav>li>a{
        padding: 0 25px
    }
}
@media (min-width: 768px) {
    .about .col-2{
        width: 20%;
        float: left;
        padding: 0 15px;
    }
}
@media (max-width: 767px) {
    .header .logo-box .icons{
        margin: 20px 0;
        overflow: hidden;
    }
    .header .logo-box .icons img{
        width: 80%
    }
    .wrap>.main{
        padding: 0 0 50px
    }
    .about{
        margin: 25px 0 40px
    }
    .about .tabs{
        padding: 0 0 0 10px;
        border-left-width: 5px
    }
    .about .tabs li{
        font-size: 13px;
        padding: 10px 20px
    }
    .about .content .data{
        padding: 15px
    }
    .about .data li{
        margin: 0 0 10px
    }
    .about .data li:nth-of-type(2){
        border: none
    }
    .about .col-2{
        margin: 0 0 15px;
    }
    .main>.ad{
        padding: 20px 10px 0
    }
    .main>.ad .title{
        font-size: 13px;
        padding: 0 2px 10px;
    }
    .main>.ad .address{
        font-size: 13px
    }
    .main>.ad .address img{
        margin: 0;
        width: 16px;
        height: 14px;
    }
    .main>.ad .address span{
        margin: 0 0 0 2px
    }
    .slider{
        width: 40px;
        padding: 25px 0 0;
    }
    .slider li{
        margin: 0 0 25px
    }
    .message{
        width: 100%;
    }
    .message .header{
        height: 50px;
        line-height: 50px;
    }
    .message .header span{
        font-size: 18px
    }
    .message .main{
        padding: 15px 20px 30px
    }
    .message .main input[type='submit']{
        width: 155px;
        height: 40px;
        font-size: 16px;
    }
    .footer .top span{
        font-size: 22px
    }
    .footer .top img{
        width: 25px;
        margin: 0 5px 0 0
    }
    .footer .top .col-sm-6:first-child{
        margin: 0 0 20px;
    }
    .footer .bom{
        margin: 20px auto
    }
    .footer .bom .col-sm-4{
        margin: 0 0 20px;
    }
    .footer .bom .title{
        font-size: 16px;
        margin: 0 0 10px;
    }
    .footer .bom p, .footer .bom a{
        font-size: 12px;
    }
    .footer .bom img{
        width: 80%;
    }
    .footer .copyright{
        height: auto;
        padding: 10px 0;
        line-height: 20px;
        font-size: 12px;
    }
    .product{
        margin: 0 0 85px
    }
    .product .menu{
        margin: 0 0 20px
    }
    .product .menu .title{
        height: 60px;
        line-height: 60px;
        font-size: 20px
    }
    .product .menu li{
        height: 55px;
        line-height: 55px
    }
    .product .menu li a{
        font-size: 16px
    }
    .product .owl li{
        margin: 0
    }
    .owl-carousel .owl-wrapper-outer{
        padding: 0
    }
    .pictures li{
        margin: 0 0 15px
    }
    .pictures li:nth-of-type(2){
        padding: 0
    }
    .news{
        margin: 0 0 30px;
        padding: 25px 0 50px
    }
    .news li .pic img{
        width: 100%
    }
    .news li .title{
        margin: 0 0 4px;
        font-size: 15px
    }
    .news li .desc, .news li .date{
        font-size: 12px
    }
    .page-title{
        font-size: 32px;
        padding: 0 0 8px;
    }
    .faq .more{
        font-size: 16px
    }
    .faq li .icon{
        font-size: 16px
    }
    .faq li .A{
        font-size: 13px
    }
}
@media (max-width: 360px) {
    .about .tabs li{
        padding: 10px;
        font-size: 12px
    }
}




